*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0f111a;
    color:white;
}

/* container */

.container{
    min-height:100vh;
    padding:20px;
    padding-top:60px; /* status bar fix */
    background:linear-gradient(180deg,#1c1f2e,#11131c);
}

/* nav */

.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.logo{
    font-size:20px;
    font-weight:600;
}

.logo::before{
    content:"😊";
}

.menu{
    font-size:24px;
}

/* hero text */

.hero h4{
    color:#aaa;
    font-weight:400;
    font-size:22px;
}

.hero h1{
    font-size:32px;
    font-weight:700;
    margin:5px 0 10px;
}

.line{
    width:50px;
    height:3px;
    background:#f7d354;
    margin:10px 0 20px;
}

.desc{
    color:#bbb;
    font-size:14px;
    line-height:1.6;
    margin-bottom:20px;
}

.service{
    color:#aaa;
    margin-bottom:5px;
}

.service-title{
    font-size:14px;
    margin-bottom:10px;
}

.show-more{
    color:#f7d354;
    font-size:14px;
}

/* social */

.social{
    margin-top:15px;
    display:flex;
    gap:10px;
}

.social i{
    width:32px;
    height:32px;
    background:#1f2233;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:6px;
    font-size:13px;
}

/* IMAGE */

.hero-img{
    margin-top:30px;
    display:flex;
    justify-content:center;
}

.circle{
    width:230px;
    height:230px;
    border-radius:50%;
    background:linear-gradient(135deg,#2b2f4a,#1a1d2e);
    display:flex;
    align-items:flex-end;
    justify-content:center;
    position:relative;

    box-shadow:
    0 0 15px #6c63ff,
    0 0 30px #6c63ff;
}

.circle img{
    width: 300px;
    height: 250px;
    filter: drop-shadow(5px 0 10px #06416f);
}

/* companies */

.companies{
    margin-top:25px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;
}

.card{
    background:#1b1e2c;
    padding:15px;
    border-radius:10px;
    text-align:center;
    color:#aaa;
    font-weight:600;
    font-size:14px;
}

.logo-link {
    text-decoration: none; 
    color: inherit;        
  }

.logo-link i {
    color: #00b7ff;       
    transition: 0.3s;
  }

.logo-link i:hover {
    color: #00ff00;       
    transform: scale(1.2);
  }

/* desktop */

@media(min-width:768px){

    .container{
        display:flex;
        align-items:center;
        justify-content:space-between;
        padding:60px;
    }

    .left{
        width:50%;
    }

    .hero-img{
        width:50%;
    }

    .circle{
        width:320px;
        height:320px;
    }

    .circle img{
        width: 300px;
        height: 260px;
    }

    .hero h1{
        font-size:42px;
    }

}